.brand {
  text-align: center;
}

.item {
  display: inline-block;
  padding: 0em;
  margin: 0 0.8rem;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.15s;
  &:hover {
    background: #d03c56;
  }
}

.link {
  display: block;
  color: #333;
  transition: 0.15s;
  padding: 0.5em;
  &:hover {
    color: #fff;
  }
}


.container {
  margin: 1rem;
}